-- name: output of variables
   debug: vars={{ ansible_system_capabilities_enforced }}
   debug: vars={{ ansible_system_vendor }}
   debug: vars={{ ansible_user_dir }}
   debug: vars={{ ansible_system_capabilities }}
   debug: vars={{ ansible_service_mgr }}
   debug: vars={{ ansible_nodename }}
